{% extends 'base.html' %}

{% block content %}
<h2>Generar Reporte de Tareas</h2>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="date_start">Fecha de inicio</label>
        <input type="date" class="form-control" id="date_start" name="date_start" required>
    </div>
    <div class="form-group">
        <label for="date_end">Fecha de fin</label>
        <input type="date" class="form-control" id="date_end" name="date_end" required>
    </div>
    <button type="submit" class="btn btn-primary">Generar Reporte</button>
</form>

{% if tasks %}
    <h3>Reporte de Tareas</h3>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Empleado</th>
                <th>Proyecto</th>
                <th>Fecha de Inicio</th>
                <th>Fecha Estimada de Fin</th>
                <th>Retraso (días)</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.description }}</td>
                    <td>{{ task.id_employee.first_name }} {{ task.id_employee.last_name }}</td>
                    <td>{{ task.id_project.name }}</td>
                    <td>{{ task.date_start }}</td>
                    <td>{{ task.estimated_end_date }}</td>
                    <td>{{ task.delay }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
