{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5">Lista de Tareas</h1>
    <a href="{% url 'tareas' %}" class="btn btn-primary">Agregar Tarea</a>
    <ul class="list-group mt-3">
        {% for task in tasks %}
            <li class="list-group-item">
                <strong>{{ task.description }}</strong> - {{ task.status }}
                <a href="{% url 'eliminar_tarea' task.id %}" class="btn btn-danger btn-sm float-end">Eliminar</a>
                <a href="{% url 'editar_tarea' task.id %}" class="btn btn-warning btn-sm float-end me-2">Editar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
